.imagegauche .interieur, .imagedroite .interieur {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.imagegauche .interieur {
  flex-direction: row;
}

.imagedroite .interieur {
  flex-direction: row-reverse; /* image à droite, texte à gauche */
}

.imagegauche .interieur img,
.imagedroite .interieur img {
  width: 40%;
  margin: 0 20px;
}

section h2{
    text-align: center;
}