@media screen {
/* ROOT | :: */
    :root{
        line-height: 1.6;
        text-align: justify;
        font-family: 'Quicksand', sans-serif;
        background-color:whitesmoke;
        --main-bg-color:#508ae3;
        --main-txt-color:var(--main-bg-color);
        overflow-y: scroll;
    }

    ::selection{
        background-color: rgb(83, 82, 82);
        color:white;
    }

/* BODY */
    html, body{
        height: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        color:var(--main-txt-color)
    }


/* Header | Footer */
    header, footer{
        background-color: var(--main-bg-color);
        padding: 1rem 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        position: relative;
        z-index: 100;
    }
    header{
        padding-top: 5rem;
    }
    
    .logo{
        position: absolute;
        top:0;
        object-fit: cover;
        transform: translateY(-33%) translateX(-55%);
        max-width: 300px;
        z-index: 101;
    }

    #site-title, #site-mission{
        display: flex;
        color:white;
        justify-content: center;
        position: relative;
        z-index: 102;
    }

    #site-mission{
        background-color: whitesmoke;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        color:var(--main-bg-color);
    }

    .h-buttons ,footer, footer a{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width:100%;
        font-size: 16px;
        position: relative;
        z-index: 200;
    }

    .header-button{
        margin-left:auto;
        margin-right: auto;
        border-style: none;
        background: none;
        color:white;
        font-size: 15px;
        padding:0 4rem;
        border-bottom: 2px solid transparent;
        text-decoration: none;
    }

    .header-button:hover{
        border-bottom-color: white;
        cursor: pointer;
    }

    footer, footer a{
        color:white;
        position:static;
        text-decoration: none;
    }

    footer a:hover{
        text-decoration: underline;
        font-weight:bolder;
    }


/* Carrousel page accueil */
    .carousel{
        width: 80%;
        height: 350px;
        overflow: hidden;
        border:10px transparent;
        border-radius: 50px;
        position: relative; 
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
    }

    .slides {
        display: flex;
        width: 100%;
        height: 100%;
        transition: transform 0.5s ease;
    }

    .slide {
        position: relative;
        flex: 0 0 100%;
        background: #f0f0f0;
        border-right: 1px transparent #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        width: 100%;
        height: 350px;
        flex-shrink: 0;
        overflow: hidden;
    }

    .slide img, .enjeux-rectangle img{
        width:100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .slidetext{
        position:absolute;
        top:65%;
        color:white;
        background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
        width:100%;
        text-align: center;
        font-size: 1.5rem;
        padding: 3rem;   
    }

    .carousel input[type="radio"]{
        display: none;
    }

    #slide1:checked ~ .slides {
        transform: translateX(0%);
    }
    #slide2:checked ~ .slides {
        transform: translateX(-100%);
    }
    #slide3:checked ~ .slides {
        transform: translateX(-200%);
    }

    input#slide1:checked ~ .nav label[for="slide1"],
    input#slide2:checked ~ .nav label[for="slide2"],
    input#slide3:checked ~ .nav label[for="slide3"] {
        background-color: #508ae3;
    }

    .nav{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        z-index: 10;
    }

    .nav label {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #ccc;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .nav label:hover {
        opacity: 1;
    }


/* Enjeux | Innovations */
    .enjeux-rectangles, .innovations-rectangles{
        display: flex;
        flex-wrap: wrap;
        gap:1rem;
        justify-content: center;
        align-items: center;
        width:100%;
        transition: transform 0.8s ease-in-out;
        margin-bottom: 2rem;
        
    }

    .enjeux-rectangle, .innovations-rectangle{
        width:500px;
        height:320px;
        margin-left:15px;
        margin-right: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        transition: transform 0.2s ease-in-out;
        overflow: hidden;
        position:relative;
        z-index: 101;
    }

    .enjeux-rectangle img, .innovations-rectangle img{
        width: 100%;
        height:65%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
        display: block;
        overflow: hidden;
    }

    .content-title{
        background-color: var(--main-bg-color);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        color:whitesmoke;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    .enjeux-rectangle h3, .innovations-rectangle h3{
        background-color: var(--main-bg-color);
        color:whitesmoke;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        margin-top: 0;
    }

    .texte p:nth-child(4){
        font-weight: bold;
        font-style: italic;
    }

    .enjeux-rectangle:hover, .innovations-rectangle:hover{
        transform: scale(1.05);
    }

/* Innovations */
    .innovations-rectangle{
        width:750px;
    }

/* Contenu */
    .content-section{
        padding-left:5px;
    }

/* Carte */
    #legende-carte {
        display: flex;
        position: relative;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 500;
        width:250px;
        height: 150px;
        margin: 0;
        top:490px;
        left:15px;
    }

    .leaflet-popup.no-background-popup .leaflet-popup-content-wrapper {
        background: transparent !important;
        box-shadow: none !important;
        border: none !important;
    }

    .leaflet-popup.no-background-popup .leaflet-popup-tip-container {
        display: none !important;
    }
    
    .leaflet-popup.no-background-popup .leaflet-popup-close-button {
        color: white !important;       
        font-weight: bold;
        font-size: 20px;
        text-shadow: 0 0 5px black;    
    }

    .leaflet-popup-close-button {  
        transform: translate(-30px, 15px);
    }
}